a,
a:hover,
a:focus {
    color: inherit;
    
}
.navbar {
    padding: 15px 10px;
    
}
.wrapper {
  width: 100%;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
 transition: all .3s;
}
#sidebar.active {
    margin-left: -250px;
    transition: all .3s;
}
body {
    overflow-x: hidden;
}
#sidebar ul div a {
    padding: 10px;
  width: 100%;
}
ul div .active {
    border-left: 10px solid #ffcc19;
}

#sidebar .sidebar-header {
   
    background-color: rgba(255, 255, 255, 0.274);
}
#sidebar ul div a:hover {
    background-color: rgba(255, 255, 255, 0.274);
  
}
#sidebar ul div a > a, a[aria-expanded=true] {
    color: #6b6b6b;
   

}
a[data-toggle=collapse] {
    position: relative;
}
a.call {
    background: #6b6b6b;
  
}
#content {
    width: 100%;
    
}
@media (max-width: 768px) {
#sidebar {
    margin-left: -250px;
}
#sidebar.active {
    margin-left: 0;
}

}
